body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumslateblue;
}

h1 {
  display: none;
  border: 5px solid black;
  padding: 20px;
  font-family: 'Kaushan Script', cursive;
}
