body {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumslateblue;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  max-width: 60%;
  font-size: 45px;
}

img {
  max-width: 50%;
  order: 2;
}
